*,
form {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}
a {
  text-decoration: none;
}

.title {
  font-family: "Poppins", sans-serif;
}

.card {
  -webkit-box-shadow: 0px 7px 7px -6px rgba(30, 30, 30, 1);
  -moz-box-shadow: 0px 7px 7px -6px rgba(30, 30, 30, 1);
  box-shadow: 0px 7px 7px -6px rgba(30, 30, 30, 1);
}

.more_info {
  font-size: small;
  font-weight: 700;
  padding-inline: 2px;
  text-transform: uppercase;
}

.more_info:hover {
  background-color: #435d7d;
  border-radius: 3px;
  color: #fff;
  cursor: help;
}

.no_wrap {
  white-space: nowrap;
}

.btn:hover,
.dropdown-item:hover {
  filter: brightness(90%) !important;
}
.dropdown-toggle {
  font-size: 0.9rem;
}

.dropdown-item:hover {
  background-color: #435d7d !important;
  filter: brightness(90%) !important;
}
.dropdown-item.active {
  background-color: #435d7d !important;
  filter: brightness(70%) !important;
}

.breadcrumb,
.breadcrumb .breadcrumb-item.active,
.breadcrumb .breadcrumb-item::before {
  color: #ccc !important;
  font-weight: 500;
  font-size: 0.9rem;
}

.clock {
  height: 30px;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  min-width: 120px;
}

.content-resume {
  /* background-image: url("/wood.jpg") ; */
  border: 0;
}

.dashboard-item-footer {
  display: flex;
  height: 8px;
  align-items: center;
  margin-top: 7px;
  margin-right: 10px;
  justify-content: flex-end;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #6c757d;
  cursor: pointer;
}

.content-body {
  min-height: 100px;
  -webkit-box-shadow: inset 2px -2px 6px -3px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 2px -2px 6px -3px rgba(0, 0, 0, 1);
  box-shadow: inset 2px -2px 6px -3px rgba(0, 0, 0, 1);
}

.content-body:hover {
  background-color: rgba(0, 0, 0, 0.11) !important;
}

.book-img {
  bottom: -32px;
  left: -24px;
  margin: auto;
  z-index: 20;

  -webkit-filter: drop-shadow(3px -2px 3px #222);
  filter: drop-shadow(3px -2px 3px #222);
}

.book-type {
  position: absolute;
  bottom: -3px;
  right: 0;
  left: 0;
  color: #cccccc;
  margin: auto;
  text-align: center;
  -webkit-filter: drop-shadow(1px -2px 2px #222);
  filter: drop-shadow(1px -2px 2px #222);
}

.book-item-number {
  -webkit-filter: drop-shadow(1px -2px 2px #222);
  filter: drop-shadow(1px -2px 2px #222);
}
/*
 * Off Canvas sidebar at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
  overflow: hidden;
}

body {
  color: #566787;
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
}
.table-wrapper {
  background: #d1d1d1;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 0px;
  overflow-x: auto;
}
.table-title {
  padding-bottom: 15px;
  color: #fff;
  padding: 5px 30px;
  margin: -20px -25px 10px;
}

.title-hover {
  padding: 0.5rem;
  border-radius: 2px;
  text-align: center;
  margin-left: -0.5rem;
}

.title-hover i {
  opacity: 1;
}

.title-hover:hover {
  background-color: rgba(0, 0, 0, 0.288);
}

.title-hover:hover i {
  opacity: 1;
  color: #fff !important;
}

.title-hover:hover ~ .title-hover i {
  color: #0397d6 !important;
}

.table-title .btn-group {
  float: right;
}
.table-title .btn {
  color: #fff;
  float: right;
  border: none;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  max-width: 200px;
  word-wrap: break-word;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #c8c8c8;
}
table.table-striped.table-hover tbody tr:hover {
  background: #00000042;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #2196f3;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #f44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.pagination {
  margin: 0 0 5px;
}

.pagination li a {
  padding: 5px;
}
.pagination li a {
  border: none;
  min-width: 30px;
  min-height: 30px;
  font-weight: 300;
  color: #fff !important;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
  background: #03a9f4 !important;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.table-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hint-text {
  margin-top: 10px;
  font-size: 13px;
}
.hint-cant {
  text-align: end;
  font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
  position: relative;
}
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}
.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}
.custom-checkbox label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
  border-color: #03a9f4;
  background: #03a9f4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before,
input[type="text"]:read-only {
  color: rgb(141, 141, 141) !important;
  cursor: auto;
  box-shadow: none;
  background: rgb(90, 90, 90) !important;
  cursor: not-allowed;
}

.search {
  margin-top: -8px;
}

.search input {
  text-indent: 15px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid #03a9f4;
}

.search button {
  width: 50px;
  height: 40px;
}

.search .active-group {
  z-index: 100;
}

.check-btn {
  margin: 4px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(202, 202, 202, 0.568);
  overflow: hidden;
  float: left;
  min-width: 74px;
}

.check-btn label:hover {
  background-color: rgba(0, 0, 0, 0.274);
}

.check-btn label {
  float: left;
  cursor: pointer;
}

.check-btn label span {
  text-align: center;
  padding: 1px 0.3rem;
  display: block;
}

.check-btn label input {
  position: absolute;
  display: none;
  color: #fff !important;
}

.check-btn input:checked + span {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.check-btn label input + span {
  color: rgb(182, 182, 182);
  font-size: small;
  user-select: none;
}

.check-btn input:checked + span {
  background-color: #198754;
  color: white;
}

.check-btn input:checked + span {
  border: 1px solid rgb(81, 255, 0);
}

.form-check-input:checked {
  background-color: #03a9f4 !important;
  border-color: #03a9f4 !important;
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 30px 0;
}

.form-content .form-items {
  border: 1px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  width: 900px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}
.form-content label {
  font-weight: 700;
}

.form-content label,
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: #fff;
  font-size: 0.9rem !important;
}

.form-content input[type="text"],
.form-content input[type="password"],
.form-content input[type="email"],
.form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}
.form-content input::placeholder,
.form-content input[type="password"]::placeholder,
.form-content input[type="email"]::placeholder,
.form-content select::placeholder {
  color: rgb(209, 209, 209) !important;
  font-weight: 300;
  font-size: 0.9rem;
}

.form-content .req:after {
  content: " *" !important;
  margin-left: 3px;
  color: red !important;
  font-weight: bold;
}

.btn-primary {
  background-color: #6c757d;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #495056;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8d8d8d;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8d8d8d;
}

.mv-up {
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

.invalid-feedback {
  color: #ff606e;
}

.valid-feedback {
  color: #2acc80;
}
