* {
  font-family: "Poppins", sans-serif;
}

body,
html {
  height: 100%;
}
a {
  text-decoration: none;
}

.title {
  font-family: "Poppins", sans-serif;
}

.card {
  -webkit-box-shadow: 0px 7px 7px -6px rgba(30, 30, 30, 1);
  -moz-box-shadow: 0px 7px 7px -6px rgba(30, 30, 30, 1);
  box-shadow: 0px 7px 7px -6px rgba(30, 30, 30, 1);
}

.btn:hover, .dropdown-item:hover {
  filter: brightness(90%) !important;
}
.dropdown-toggle {
  font-size: .9rem;
}

.dropdown-item:hover {
  background-color: #435d7d !important;
  filter: brightness(90%) !important;
}
.dropdown-item.active {
  background-color: #435d7d !important;
  filter: brightness(70%) !important;
}


.breadcrumb,
.breadcrumb .breadcrumb-item.active,
.breadcrumb .breadcrumb-item::before {
 color: #ccc !important;
 font-weight: 500;
 font-size: .9rem;
}

.clock {
  height: 30px; 
  font-size: .8rem;
  text-align: center;
  color: white;
  min-width: 120px;
}

.content-resumen {
  background-image: url("/wood.webp") ;
}

.content-body {
  min-height: 100px;
  -webkit-box-shadow: inset 2px -2px 6px -3px rgba(0,0,0,1);
-moz-box-shadow: inset 2px -2px 6px -3px rgba(0,0,0,1);
box-shadow: inset 2px -2px 6px -3px rgba(0,0,0,1);
}

.book-img {
  bottom: -32px;
  left: -24px;
margin: auto;
z-index: 20;
}

.book-type {
  position: absolute;
  bottom: -3px;
right: 0;
left: 0;
margin: auto;
text-align: center;

}

.book-type-number {
  position: absolute;
  bottom: 25px;
  right: 0;
  margin: auto;
}
/*
 * Off Canvas sidebar at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
  overflow: hidden;
}

body {
  color: #566787;
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
  font-size: .9rem;
}
.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 0px;
  
}
.table-title {
  padding-bottom: 15px;
  background: #435d7d;
  color: #fff;
  padding: 10px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  color: #fff;
  float: right;
  border: none;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}


.table-title .btn span {
  float: left;
  margin-top: 2px;
}
table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
 
}


table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}
table.table td a:hover {
  color: #2196f3;
}
table.table td a.edit {
  color: #ffc107;
}
table.table td a.delete {
  color: #f44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.pagination {
  
  margin: 0 0 5px;
}

.pagination li a {
  padding: 5px;
}
.pagination li a {
  border: none;
  min-width: 30px;
  min-height: 30px;
  font-weight: 300;
  color: #fff !important;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
  background: #03a9f4 !important;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.table-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hint-text {
  margin-top: 10px;
  font-size: 13px;
}
.hint-cant {

text-align: end;
  font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
  position: relative;
}
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  margin: 5px 0 0 3px;
  z-index: 9;
}
.custom-checkbox label:before {
  width: 18px;
  height: 18px;
}
.custom-checkbox label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  background: white;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-sizing: border-box;
  z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: inherit;
  z-index: 3;
  transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
  border-color: #03a9f4;
  background: #03a9f4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
  color: #b8b8b8;
  cursor: auto;
  box-shadow: none;
  background: #ddd;
}







.search {
  display: flex;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search input{
   text-indent: 15px;
   border: 2px solid #d6d4d4;
}

.search input:focus{
   box-shadow: none;
   border: 2px solid #03a9f4;
}

.search button{
   width: 50px;
   height: 40px;
}

.search .active-group {
    z-index: 100;
}

.form-check-input:checked {
    background-color: #03a9f4  !important;
    border-color: #03a9f4  !important;
}





.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {

    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    width: 600px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}